<div class="span8">
  <div class="box-circle">
    <div class="box-title">创建队伍</div>
    <div class="box-content"><%= render 'form' %></div>
  </div>
</div>

<div class="span4">
  <%=render partial:'user/sidebar'-%>
</div>
