<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>
      如果你想要重置密码，请点击下面的链接：<br/>
      <%=link_to @url,@url-%><br/>
      这个链接将于2小时后失效。
    </p>
    <p>
      如果你不知道我在说什么，请无视这封邮件。
    </p>
  </body>
</html>
