<div class="span8">
  <h1>管理员登录</h1>
  <p>数据无价，请慎重使用你手中的权限！</p>
  <div><%= image_tag 'TeamStyle15.text.png', :size=> "600x300" %></div>
</div>

<div class="span4">
<%=render :partial => 'users/adminsidebar'-%>
</div>