<div class="span8">
<div class="box-circle">
<div class="box-title">修改用户信息</div>
<div class="box-content">
<%@pwd="新";@team="选择队伍"-%>
<%= render 'edit_form' %>
</div>
</div>
</div>

<div class="span4">
<%= render 'adminsidebar' %>
</div>