<div class="span8">
  <h1><%= @user.name %></h1>
  <div class="page-divider"></div><br>
  <%@the_user=@user-%>
  <%=render :partial => 'user/table'-%>
  <%=render :partial => 'user/pm'-%>
</div>

<div class="span4">
  <%= render 'adminsidebar' %>
</div>
