<%@news_page=true-%>
<div class="span8">
<div class="box-circle">
  <div class="box-title">新闻列表</div>
<div class="box-content">
  <table>
    <thead>
      <tr>
        <th>内容</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @news.each do |news| %>
        <tr>
          <td><%= news.text %></td>
          <td><%= link_to '编辑', edit_news_path(news) %></td>
          <td><%= link_to '删除', news, method: :delete, data: { confirm: '确定？' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
</div>
</div>

<div class="span4">
  <%=render :partial => 'users/adminsidebar'-%>
</div>
