<%= render 'usernavbar' %>
<div class="row-fluid">
<div class="span8">
	<div class="muted">尚未加入队伍</div><br/>
      <%= link_to '创建一支队伍', new_team_path, :class => "btn btn-primary" %>
      <%if Team.count!=0%>
      <%= link_to '加入一支队伍', teams_path, :class => "btn btn-success" %>
      <%end-%>

</div>

<div class="span4">
  	<%= render 'sidebar' %>
</div>

</div>