// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#sgn-primary{
	color: #e3e3e3;
}
#introduction
{
  text-align: left;
  font-size: 24px;
  font-style: bolder;
  line-height: 24px;
}
