<footer class="footer">
  <small id="foot">
    队式十五开发团队 网站组 倾情奉献<br/>
    By TeamStyle15 Web Dev with honor.
  </small>
  <nav>
    <ul class="nav">
      <li><%= link_to "联系我们", 'mailto:chiblaok@126.com' %></li>
    </ul>
  </nav>
</footer>
